<div class="container-fluid">
	<div class="row" >
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img data-holder-rendered="true" src="http://thumbs3.ebaystatic.com/d/l225/m/mopEz_Gz9agaEpv4iIJf5uA.jpg" style="height: 200px; width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
	      <div class="caption cente-title" >
	        <h3 id="thumbnail-label"><a href="#" >EXO</a></h3>
	      </div>
	    </div>
	  </div>
	 </div>
</div>